body {
  background-color: #FFF;
}
.wrap {
  width: 100%;
  margin: 0px auto;
  padding: 0.5em;
}
.limpiar {
  clear: both;
}
.invisible {
  display: none;
}
.negrita {
  font-weight: bold;
}
.fRight {
  float: right;
}
.fLeft {
  float: left;
}
.centrarVertical {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.centrado {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}
.paddingSpecialZero {
  padding-top: 0em !important;
  padding-bottom: 0em !important;
  padding-right: 0em !important;
  padding-left: 0em !important;
}
.paddingSpecialRow {
  padding-top: 1rem !important;
  padding-bottom: 1em !important;
  padding-right: 0em !important;
  padding-left: 0em !important;
}
.cortar {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section {
  margin: 0px auto 0px;
  margin-top: 1em;
}
.contenedorTitular {
  background-color: #adb5bb;
  height: 55px;
}
.contenedorTitular .titular {
  color: #ffffff;
  position: relative;
  top: 33%;
}
.contenedorTallerSelec {
  background-color: #d2001e;
  margin-left: 1em;
}
.contenedorTallerSelec label {
  color: #ffffff;
}
.contenedorTallerSelec .taller {
  text-transform: uppercase;
  margin-right: 1em;
}
.usuario.label {
  background-color: #ffffff;
}
.opcionDefecto {
  color: #f5f4f2;
}
.barraColapsable {
  height: 35px;
  background-color: #f3f4f5;
  border-left: 4px solid #d2001e;
  border-top: 1px solid #d7dbde;
  border-right: 1px solid #d7dbde;
  border-bottom: 1px solid #e5e7e9;
  margin-bottom: 1px;
  padding: 3px;
}
.barraColapsable span {
  font-size: 1.5em!important;
  position: relative;
  top: 2px;
}
.barraColapsable label {
  text-transform: uppercase;
  font-size: 12px;
}
.barraColapsable label:hover {
  cursor: pointer;
}
.barraColapsable i.angle.icon {
  position: relative;
  top: 5px;
}
.barraColapsable:hover {
  cursor: pointer;
  background-color: #e5e7e9;
}
.informacion {
  width: 225px;
  height: 100px;
  padding: 0.3em;
  background-color: #e8f2fb;
  font-size: 12px;
}
.informacion i {
  color: #ffffff !important;
  margin: 0;
}
.informacion i:hover {
  cursor: pointer;
}
.informacion .cabecera {
  padding: 0.3em;
  background-color: #1f69ab;
}
.informacion .cabecera label {
  color: #ffffff;
  text-transform: uppercase;
}
.informacion .cabecera span {
  color: #ffffff;
  position: relative;
  top: -9px;
}
.informacion .cabecera span:hover {
  cursor: pointer;
}
.informacion .contenido {
  padding: 0.3em;
}
.informacion .contenido .descripcion {
  height: 45px;
  overflow-y: auto;
  font-size: 10px;
}
.subBarraColapsable {
  border-bottom: 1px solid #e5e7e9;
}
.subBarraColapsable label {
  font-size: 10px;
}
.subBarraColapsable label:hover {
  color: #adb5bb;
  cursor: pointer;
}
.subBarraColapsable i:hover {
  color: #737373;
  cursor: pointer;
}
.contenidoColapsable {
  padding: 0.3em;
  background-color: #f5f4f2;
}
.pagination .item {
  font-size: 10px!important;
}
/*------Paginación----------*/
.paginacion i:hover {
  color: #d2001e;
  cursor: pointer;
}
/*--------------------------*/
/*------Botones Toyota-----*/
button.toyota {
  background-color: #d2001e !important;
  color: white;
}
button.toyota i {
  color: white;
  opacity: 1!important;
}
/*-------------------------*/
.contenedorCitasNoAsig {
  height: 155px;
  padding: 0.5em;
  background-color: #ffffff;
}
.contenedorCitasNoAsig .tareaSinAsignar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #adb5bb;
  color: #ffffff;
  font-size: 10px;
  border: 0;
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
.contenedorCitasNoAsig .tareaSinAsignar:hover {
  cursor: all-scroll;
}
.contenedorCitasNoAsig .tareaSinAsignar .or {
  padding: 0.3em;
  float: left;
  min-width: 45px;
}
.contenedorCitasNoAsig .tareaSinAsignar .or .lblOr {
  display: block;
}
.contenedorCitasNoAsig .tareaSinAsignar .averia {
  text-align: center;
  float: left;
  padding: 0.3em;
  background-color: #d7dbde;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.contenedorCitasNoAsig .tareaSinAsignar .averia .txtAveria {
  color: #adb5bb;
  font-size: 7px;
  display: block;
  text-transform: uppercase;
}
.contenedorCitasNoAsig .tareaSinAsignar .averia .lblAveria {
  font-size: 12px;
  color: #d2001e;
  text-transform: uppercase;
  font-weight: bold;
}
.leyenda {
  margin-top: 0.5em;
  color: #7f7f7f;
  font-style: italic;
}
.leyenda span,
.leyenda i {
  color: #7f7f7f !important;
  font-size: 1.3em !important;
  position: relative;
}
.leyenda span.icon-i-out,
.leyenda i.icon-i-out {
  color: #9ebf42 !important;
}
.leyenda span.icon-i-in,
.leyenda i.icon-i-in {
  color: #cc2d2d !important;
}
.leyenda span.circle.icon,
.leyenda i.circle.icon {
  font-size: 0.9em!important;
  top: -4px;
}
.leyenda span.circle.icon.encurso,
.leyenda i.circle.icon.encurso {
  color: #9ebf42 !important;
}
.leyenda span.circle.icon.menos15,
.leyenda i.circle.icon.menos15 {
  color: #f5d600 !important;
}
.leyenda span.circle.icon.retraso,
.leyenda i.circle.icon.retraso {
  color: #f1931b !important;
}
.leyenda span.circle.icon.interrumpido,
.leyenda i.circle.icon.interrumpido {
  color: #cc2d2d !important;
}
.leyenda label {
  margin-top: 2px;
  margin-bottom: 5px;
  margin-right: 5px;
  vertical-align: super;
  font-size: 9px;
}
i.icon {
  color: #333333;
}
.circulo {
  z-index: 10;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: inline-block;
  background-color: #ffffff;
  position: relative;
  top: -15px;
  -webkit-box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.18);
  box-shadow: 3px 2px 10px 0px rgba(0, 0, 0, 0.18);
}
.circulo .numero {
  color: #1f69ab;
  font-weight: bold;
  display: block;
  text-align: center;
  padding-top: 5px;
}
.contenedorManhana {
  background-color: beige;
  border: 1px solid #eaeab4;
  display: inline-block;
  min-height: 190px;
  width: 3%;
  vertical-align: top;
  /*float: right;
    margin-left: -108px;
    position: relative;
    top: 125px;*/
  /*label{
        text-transform: uppercase;
        display: inline-block;
        color: darken(beige,10%);
        .mixinVertical(0.6em);
    }*/
}
.contenedorManhana img {
  display: block;
  margin: 1em auto;
  background-repeat: repeat-y;
}
/*------------ICONOS PROPIOS---------------------*/
i.icon {
  color: #333333;
}
@font-face {
  font-family: 'icomoon';
  src: url('../compiled/themes/serinfer/assets/fonts/icomoon.eot?-2idf2y');
  src: url('../compiled/themes/serinfer/assets/fonts/icomoon.eot?#iefix-2idf2y') format('embedded-opentype'), url('../compiled/themes/serinfer/assets/fonts/icomoon.woff?-2idf2y') format('woff'), url('../compiled/themes/serinfer/assets/fonts/icomoon.ttf?-2idf2y') format('truetype'), url('../compiled/themes/serinfer/assets/fonts/icomoon.svg?-2idf2y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fuenteIconos {
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-i-35:before {
  content: "\e60b";
}
.icon-i-recep:before {
  content: "\e600";
}
.icon-i-meca:before {
  content: "\e601";
}
.icon-i-car:before {
  content: "\e602";
}
.icon-i-carline:before {
  content: "\e603";
}
.icon-i-arrow:before {
  content: "\e604";
}
.icon-i-ok:before {
  content: "\e605";
}
.icon-i-cancel:before {
  content: "\e606";
}
.icon-i-clock:before {
  content: "\e607";
}
.icon-i-cut:before {
  content: "\e608";
}
.icon-i-out:before {
  content: "\e609";
}
.icon-i-in:before {
  content: "\e60a";
}
/*--------------CAMBIOS EN FULLCALENDAR-------------------*/
.timeline {
  width: 2px!important;
  background-color: #75C1D7;
  border: 0!important;
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 100!important;
  height: auto;
}
.fc {
  width: 96%;
  display: inline-block;
}
.fc table {
  font-size: 0.8em!important;
}
.fc-toolbar {
  display: none;
}
.fc-head {
  background-color: #e5e7e9;
}
.fc-head .fc-cell-content {
  text-align: center;
}
.fc-head span.fc-cell-text {
  font-size: 10px;
  /*display: block;
        text-align: center;*/
}
.fc-body {
  background-color: #ffffff;
}
.fc-timeline-event {
  padding: 0px!important;
}
@-moz-document url-prefix() {
  .fc-event.tareaEnCurso {
    border: 0;
    top: 13px !important;
    z-index: 4;
    height: 4px;
  }
  .fc-event.tareaEnCurso .fc-bg {
    background-color: #1f69ab;
    opacity: 1;
  }
  .fc-event.tareaEnCurso .fc-bg:after {
    font-family: 'icomoon' !important;
    speak: none;
    font-size: 2em !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    color: #333333;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3em!important;
    content: "\e60b";
    color: #1f69ab;
    display: block;
    line-height: 0.5;
    position: absolute;
    right: -14px;
    top: -4.5px !important;
  }
}
.fc-bgevent.horarioNoDisponible {
  border: 0;
  background-color: #575B5F;
}
.fc-event.tareaEnCurso {
  border: 0;
  top: 13px !important;
  z-index: 4;
  height: 4px;
}
.fc-event.tareaEnCurso .fc-bg {
  background-color: #1f69ab;
  opacity: 1;
}
.fc-event.tareaEnCurso .fc-bg:after {
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3em!important;
  content: "\e60b";
  color: #1f69ab;
  display: block;
  line-height: 0.5;
  position: absolute;
  right: -14px;
  top: -3px;
}
.fc-event.interrumpida:after {
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3em!important;
  content: "\e606";
  color: #1f69ab;
  display: block;
  line-height: 0.5;
  position: absolute;
  right: -27px;
  top: -5px;
}
.fc-event.finalizada:after {
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3em!important;
  content: "\e605";
  color: #1f69ab;
  display: block;
  line-height: 0.5;
  position: absolute;
  right: -27px;
  top: -5px;
}
.fc-event.horarioNoDisponible {
  border: 0;
  height: 25px;
  background-color: #adb5bb;
}
.fc-event.seleccionado {
  border: 1px solid #1f69ab !important;
}
.fc-event.ocupado {
  border: 0;
}
.fc-event.ocupado.mecanica {
  padding-bottom: 2px;
}
.fc-event.ocupado.mecanica.encurso .fc-content {
  background-color: #9ebf42 !important;
}
.fc-event.ocupado.mecanica.menos15 .fc-content {
  background-color: #f5d600 !important;
}
.fc-event.ocupado.mecanica.retraso .fc-content {
  background-color: #f1931b !important;
}
.fc-event.ocupado.mecanica.interrumpido .fc-content {
  background-color: #cc2d2d !important;
}
.fc-event.ocupado.mecanica.sinCoche .fc-title {
  display: none;
}
.fc-event.ocupado.mecanica.sinCoche .fc-content {
  height: 30px;
  background-color: #e5e7e9;
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fc-event.ocupado.mecanica.sinCoche .fc-content:after {
  content: "\e603";
  display: block;
  position: relative;
  font-size: 1.4em !important;
  left: 0px;
  top: 8px;
}
.fc-event.ocupado.mecanica.conCoche .fc-title {
  display: none;
}
.fc-event.ocupado.mecanica.conCoche .fc-content {
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 30px;
  background-color: #e5e7e9;
}
.fc-event.ocupado.mecanica.conCoche .fc-content:after {
  content: "\e602";
  display: block;
  position: relative;
  font-size: 1.4em !important;
  left: 0px;
  top: 8px;
}
.fc-event.ocupado.recepcion {
  height: 25px;
}
.fc-event.ocupado.recepcion.sinCoche .fc-title {
  display: none;
}
.fc-event.ocupado.recepcion.sinCoche .fc-content {
  height: 25px;
  background-color: #e5e7e9;
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fc-event.ocupado.recepcion.sinCoche .fc-content:after {
  content: "\e603";
  display: block;
  position: relative;
  font-size: 1.4em !important;
  left: 0px;
  top: -14px;
}
.fc-event.ocupado.recepcion.sinCoche .fc-content:before {
  content: "\e60a";
  display: block;
  position: relative;
  top: -4px;
  left: 2px;
  color: #cc2d2d;
}
.fc-event.ocupado.recepcion.conCoche .fc-title {
  display: none;
}
.fc-event.ocupado.recepcion.conCoche .fc-content {
  height: 25px;
  background-color: #e5e7e9;
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fc-event.ocupado.recepcion.conCoche .fc-content:after {
  content: "\e602";
  display: block;
  position: relative;
  font-size: 1.4em !important;
  left: 0px;
  top: -12px;
}
.fc-event.ocupado.recepcion.conCoche .fc-content:before {
  content: "\e60a";
  display: block;
  position: relative;
  top: -4px;
  left: 2px;
  color: #cc2d2d;
}
.fc-event.ocupado.entrega {
  height: 25px;
}
.fc-event.ocupado.entrega.sinCoche .fc-title {
  display: none;
}
.fc-event.ocupado.entrega.sinCoche .fc-content {
  height: 25px;
  background-color: #e5e7e9;
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fc-event.ocupado.entrega.sinCoche .fc-content:after {
  content: "\e603";
  display: block;
  position: relative;
  font-size: 1.4em !important;
  left: 0px;
  top: -12px;
}
.fc-event.ocupado.entrega.sinCoche .fc-content:before {
  content: "\e609";
  display: block;
  position: relative;
  top: -4px;
  left: 2px;
  color: #9ebf42;
}
.fc-event.ocupado.entrega.conCoche .fc-title {
  display: none;
}
.fc-event.ocupado.entrega.conCoche .fc-content {
  height: 25px;
  background-color: #e5e7e9;
  font-family: 'icomoon' !important;
  speak: none;
  font-size: 2em !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fc-event.ocupado.entrega.conCoche .fc-content:after {
  content: "\e602";
  display: block;
  position: relative;
  font-size: 1.4em !important;
  left: 0px;
  top: -12px;
}
.fc-event.ocupado.entrega.conCoche .fc-content:before {
  content: "\e609";
  display: block;
  position: relative;
  top: -4px;
  left: 2px;
  color: #9ebf42;
}
/*--------------CAMBIOS EN EL QTIP--------------------*/
.qtip-default {
  border: 1px solid #1f69ab;
  background-color: #ffffff;
  color: #333;
}
.qtip-default .qtip-content {
  padding: 0;
}
