@colorPrincipal: #ADB5BB;
@colorSecundario: #d2001e;
@colorGris:#F5F4F2;
@colorTextoOscuro: #999;
@colorBlanco: #FFFFFF;
@colorOk:#78b211;
@colorSelec:#1F69AB;
@colorLeyenda:#7F7F7F;

@colorMenos15:#F5D600;
@colorRetraso:#F1931B;

@sizeIcono:2em;
@colorIcono: #333333; 
body{
    background-color: #FFF;
}

.wrap{
    width: 100%;
    margin: 0px auto;
    padding: 0.5em;
}
.limpiar{
    clear: both;
}
.invisible{
    display: none;
}
.negrita{
    font-weight: bold;
}
.fRight{
    float: right;
}
.fLeft{
    float: left;
}

.tamanhoIcono(@tamanho){ 
    .font-size(@tamanho);
}
.centrarVertical { //Para centrar verticalmente
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}

.centrado{
    .centrarVertical();
}

.paddingSpecialZero{
    .mixinEstablecerPadding();
}

.paddingSpecialRow{
    .mixinEstablecerPadding(1rem,0em,1em,0em);
}

header {
}

.mixinEstablecerPadding(@top:0em,@right:0em,@bottom:0em,@left:0em){
    padding-top: @top!important;;
    padding-bottom: @bottom!important;;
    padding-right: @right!important;;
    padding-left: @left!important;; 
}

.mixinCortarTexto(@ancho){
    width: @ancho;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mixinVertical(@espacioLetras:0.1em){

    letter-spacing:@espacioLetras;
	
	/* Chrome/Safari */
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin: 50% 50%;

	/* Firefox */
	-moz-transform: rotate(-90deg);
	-moz-transform-origin: 50% 50%;

	/* IE9 */
	-ms-transform: rotate(-90deg);
	-ms-transform-origin: 50% 50%;

	/* This should work for IE10 and other modern browsers that do not need vendor prefixes */
	transform: rotate(-90deg);
	transform-origin: 50% 50%;

	/* IE8 or less - using the "\9" CSS hack so that other browsers will ignore these lines */
	
	filter: flipv fliph;
}

.cortar{
    .mixinCortarTexto(@ancho:100px);
}

section{
    margin: 0px auto 0px;
    margin-top: 1em;
}

.contenedorTitular{
    background-color: @colorPrincipal;
    height: 55px;
    
    .titular{
        color: @colorBlanco;
        position: relative;
        top: 33%;
    }
}
.contenedorTallerSelec{
    background-color: @colorSecundario;
    margin-left: 1em;
    label{
        color: @colorBlanco;
    }
    .taller{
        text-transform: uppercase;
        margin-right: 1em;
    }
}
.usuario{
    &.label{
        background-color: @colorBlanco;
    }
}
.opcionDefecto{
    color: @colorGris;
}
.barraColapsable{
    height: 35px;
    background-color: lighten(@colorPrincipal,25%);
    border-left: 4px solid @colorSecundario;
    border-top: 1px solid lighten(@colorPrincipal,15%);
    border-right: 1px solid lighten(@colorPrincipal,15%);
    border-bottom: 1px solid lighten(@colorPrincipal,20%);
    margin-bottom: 1px;
    padding: 3px;
    span{
        font-size: 1.5em!important;
        position: relative;
        top: 2px;
    }
    label{
        text-transform: uppercase;
        font-size: 12px;
        &:hover{
            cursor: pointer;
        }
    }
    i.angle.icon{
        position: relative;
        top:5px;
    }
    
    &:hover{
        cursor: pointer;
        background-color: lighten(@colorPrincipal,20%);
        
    }
}

.informacion{
    width: 225px;
    height: 100px;
    padding: 0.3em;
    background-color: lighten(@colorSelec,55%);
    font-size: 12px;
    i{
        color: @colorBlanco!important;
        margin: 0;
        &:hover{
            cursor: pointer;
        }
    }
    .cabecera{
        label{
            color: @colorBlanco;
            text-transform: uppercase;
        }
        span{//tijeras
            color: @colorBlanco;
            position: relative;
            top: -9px;
            &:hover{
                cursor: pointer;
            }
        }
        padding: 0.3em;
        background-color: @colorSelec;
    }
    .contenido{
        padding: 0.3em;
        .descripcion{
            height: 45px;
            overflow-y: auto;
            font-size: 10px;
        }
    }
}

.subBarraColapsable{
    border-bottom: 1px solid lighten(@colorPrincipal,20%);
    label{
        font-size: 10px;
        &:hover{
            color: @colorPrincipal;
            cursor: pointer;
        }
    }
    i{
        &:hover{
            color: lighten(@colorIcono,25%);
            cursor: pointer;
        }
    }
}

.contenidoColapsable{
    padding: 0.3em;
    background-color: @colorGris;
}

.pagination{
    .item{
        font-size: 10px!important;
    }
}

/*------Paginación----------*/

.paginacion{
    i:hover{
        color: @colorSecundario;
        cursor: pointer;
    }
}

/*--------------------------*/
/*------Botones Toyota-----*/
button{
    &.toyota{
        background-color: @colorSecundario!important;
        color: white;
        i{
            color: white;
            opacity: 1!important;
        }
    }
}
/*-------------------------*/

.contenedorCitasNoAsig{
    height: 155px;
    //overflow-y: auto;
    padding: 0.5em;
    background-color: @colorBlanco;
    
    .tareaSinAsignar{
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background-color: @colorPrincipal;
        color: @colorBlanco;
        font-size: 10px;
        border: 0;
        display: inline-block;
        margin-right: 0.5em;
        margin-bottom: 0.5em;
        
        &:hover{
            cursor: all-scroll;
        }
        
        .or{
            padding: 0.3em;
            float: left;
            min-width: 45px;
            .lblOr{
                display: block;
            }
            .lblTiempo{
                
            }
        } 
        .averia{
            text-align: center;
            float: left;
            padding: 0.3em;
            background-color: lighten(@colorPrincipal,15%);
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            .txtAveria{
                color: @colorPrincipal;
                font-size:7px;
                display: block;
                text-transform: uppercase;
            }
            .lblAveria{
                font-size: 12px;
                color: @colorSecundario;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
}

.leyenda{
    margin-top: 0.5em;
    color:@colorLeyenda;
    font-style: italic;
    
    span,i{
        color:@colorLeyenda !important;
        font-size: 1.3em !important;
        position: relative;
        &.icon-i-out{
            color: @colorEntrega!important;
        }
        &.icon-i-in{
            color: @colorRecepcion!important;
        }
        &.circle.icon{
            font-size: 0.9em!important;
            top:-4px;
            &.encurso{
                color: @colorEntrega!important;
            }
            &.menos15{
                color:@colorMenos15!important;
            }
            &.retraso{
                color: @colorRetraso!important;
            }
            &.interrumpido{
                color: @colorRecepcion!important;
            }
        }
    }
    label{
        margin-top: 2px;
        margin-bottom: 5px;
        margin-right: 5px;
        vertical-align: super;
        font-size: 9px;
    }
}

i.icon{
    color: @colorIcono;
}

.circulo {
    z-index: 10;
    border-radius: 50%;
	width: 25px;
	height: 25px;
    display: inline-block;
    background-color: @colorBlanco;
    position: relative;
    top: -15px;
    -webkit-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.18);
    -moz-box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.18);
    box-shadow: 3px 2px 10px 0px rgba(0,0,0,0.18);
    
    .numero{
        color:@colorSelec;
        font-weight: bold;
        display: block;
        text-align: center;
        padding-top: 5px;
    }
}

.contenedorManhana{
    background-color: beige;
    border: 1px solid darken(beige,10%);
    display: inline-block;
    min-height: 190px;
    width: 3%;
    vertical-align: top;
    img{
        display: block;
        margin: 1em auto;
        
        background-repeat: repeat-y;
    }
    
    /*float: right;
    margin-left: -108px;
    position: relative;
    top: 125px;*/
    
    /*label{
        text-transform: uppercase;
        display: inline-block;
        color: darken(beige,10%);
        .mixinVertical(0.6em);
    }*/
}

/*------------ICONOS PROPIOS---------------------*/

i{
    &.icon{
        color: @colorIcono;
    }
}

@font-face {
	font-family: 'icomoon';
	src:url('../compiled/themes/serinfer/assets/fonts/icomoon.eot?-2idf2y');
	src:url('../compiled/themes/serinfer/assets/fonts/icomoon.eot?#iefix-2idf2y') format('embedded-opentype'),
		url('../compiled/themes/serinfer/assets/fonts/icomoon.woff?-2idf2y') format('woff'),
		url('../compiled/themes/serinfer/assets/fonts/icomoon.ttf?-2idf2y') format('truetype'),
		url('../compiled/themes/serinfer/assets/fonts/icomoon.svg?-2idf2y#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon'!important;
	speak: none;
    font-size:@sizeIcono!important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
    color: @colorIcono;
	line-height: 1;
    

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fuenteIconos{
    font-family: 'icomoon'!important;
	speak: none;
    font-size:@sizeIcono!important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
    color: @colorIcono;
	line-height: 1;
    

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-i-35:before {
	content: "\e60b";
}

.icon-i-recep:before {
	content: "\e600";
}
.icon-i-meca:before {
	content: "\e601";
}
.icon-i-car:before {
	content: "\e602";
}
.icon-i-carline:before {
	content: "\e603";
}
.icon-i-arrow:before {
	content: "\e604";
}
.icon-i-ok:before {
	content: "\e605";
}
.icon-i-cancel:before {
	content: "\e606";
}
.icon-i-clock:before {
	content: "\e607";
}
.icon-i-cut:before {
	content: "\e608";
}
.icon-i-out:before {
	content: "\e609";
}
.icon-i-in:before {
	content: "\e60a";
}

/*--------------CAMBIOS EN FULLCALENDAR-------------------*/
@colorRecepcion:#CC2D2D;
@colorEntrega:#9EBF42;
.timeline{
    width: 2px!important;
    background-color: #75C1D7;
    border: 0!important;
    position: absolute;    
    margin: 0;
    padding: 0;
    z-index: 100!important;
    height: auto;
}
.fc{
    width: 96%; //ancho del calendario para dejar sitio al cuadro de mañana.
    display: inline-block;
    table{
        font-size: 0.8em!important;
    }
}

.fc-toolbar{//para que la barra en donde sale cambio de dia, etc... no ocupe espacio
    display: none;
}
.fc-head{
    background-color: lighten(@colorPrincipal,20%);
    .fc-cell-content{
        text-align: center;
    }
    span.fc-cell-text{
        font-size: 10px;
        /*display: block;
        text-align: center;*/
    }
}
.fc-body{
    background-color: @colorBlanco;
    
}

.fc-timeline-event{
    padding: 0px!important;
}


@-moz-document url-prefix() {//Esto es para que esta clase la coja solo firefox... por la posición de la flechita que tiene un top distinto

	 .fc-event{
    
        &.tareaEnCurso{

            border: 0;
            top: 13px !important;
            z-index: 4;
            height: 4px;

            .fc-bg{
                background-color: @colorSelec;
                opacity: 1;
                &:after{ //icono flecha;
                    .fuenteIconos();
                    font-size: 3em!important;
                    content: "\e60b";
                    color: @colorSelec;
                    display: block;
                    line-height: 0.5;
                    position: absolute;
                    right: -14px;
                    top: -4.5px!important;
                }
            }
        }
     }
}

.alturaMecanico{
    //height: 29px!important;
}

.fg-event{
    &.horarioNoDisponible{
        border: 0;
        height: 25px;
        background-color: @colorPrincipal;
    }
}

.fc-event{
    
    &.tareaEnCurso{
        
        border: 0;
        top: 13px !important;
        z-index: 4;
        height: 4px;
        
        .fc-bg{
            background-color: @colorSelec;
            opacity: 1;
            &:after{ //icono flecha;
                .fuenteIconos();
                font-size: 3em!important;
                content: "\e60b";
                color: @colorSelec;
                display: block;
                line-height: 0.5;
                position: absolute;
                right: -14px;
                top: -3px;
            }    
        }
    }
    
    &.interrumpida{
        &:after{
            .fuenteIconos();
            font-size: 3em!important;
            content: "\e606";
            color: @colorSelec;
            display: block;
            line-height: 0.5;
            position: absolute;
            right: -27px;
            top: -5px;
        }           
    }
    
    &.finalizada{
        &:after{
            .fuenteIconos();
            font-size: 3em!important;
            content: "\e605";
            color: @colorSelec;
            display: block;
            line-height: 0.5;
            position: absolute;
            right: -27px;
            top: -5px;
        }           
    }

    
    &.horarioNoDisponible{
        border: 0;
        height: 25px;
        background-color: @colorPrincipal;
    }
    
    &.seleccionado{
        border: 1px solid @colorSelec!important;
    }
    
    &.ocupado{
        //background-color: lighten(@colorPrincipal,20%);
        border: 0;
        
        &.mecanica{ // EVENTOS DE LOS MECÁNICOS------------
            //height: 20px;
            padding-bottom: 2px;
            
            &.encurso{
                .fc-content{
                  //  background-color: transparent!important;
                //}
                //.fc-bg{
                  //  height: 25px;
                    background-color:@colorEntrega!important;
                //    opacity: 1;
                }
            }
            &.menos15{
                .fc-content{
                    background-color:@colorMenos15!important;
                }
            }
            &.retraso{
                .fc-content{
                    background-color: @colorRetraso!important;
                }
            }
            &.interrumpido{
                .fc-content{
                    background-color: @colorRecepcion!important;
                }
            }
            
            &.sinCoche{
                .fc-title{
                    display: none;
                }
                .fc-content{
                    height: 30px;
                    background-color: lighten(@colorPrincipal,20%);
                    .fuenteIconos();
                    &:after{ //icono sin coche
                        content: "\e603";
                        display: block;
                        position: relative;
                        font-size: 1.4em !important;
                        left: 0px;
                        top: 8px;
                    }
                }
            }
            
            &.conCoche{
                .fc-title{
                    display: none;
                }
                .fc-content{
                    .fuenteIconos();
                    height: 30px;
                    background-color: lighten(@colorPrincipal,20%);
                    //line-height: 1.6;
                    &:after{ //icono con coche 
                        content: "\e602";
                        display: block;
                        position: relative;
                        font-size: 1.4em !important;
                        left: 0px;
                        top: 8px;
                    }
                }
            }
        
        }
        
        
        &.recepcion{ // SI ES RECEPCIÓN ENTRA POR AQUÍ----------
            height: 25px;
            
            &.sinCoche{
                .fc-title{
                    display: none;
                }
                .fc-content{
                    height: 25px;
                    background-color: lighten(@colorPrincipal,20%);
                    .fuenteIconos();
                    &:after{ //icono sin coche
                        content: "\e603";
                        display: block;
                        position: relative;
                        font-size: 1.4em !important;
                        left: 0px;
                        top: -14px;
                    }
                    &:before{//icono recepcion
                        content: "\e60a";
                        display: block;
                        position: relative;
                        top: -4px;
                        left: 2px;
                        color: @colorRecepcion;
                    }
                }
            }
            
            &.conCoche{
                .fc-title{
                    display: none;
                }
                .fc-content{
                    height: 25px;
                    background-color: lighten(@colorPrincipal,20%);
                    .fuenteIconos();
                    &:after{ //icono con coche
                        content: "\e602";
                        display: block;
                        position: relative;
                        font-size: 1.4em !important;
                        left: 0px;
                        top: -12px;
                    }
                    &:before{//icono recepcion
                        content: "\e60a";
                        display: block;
                        position: relative;
                        top: -4px;
                        left: 2px;
                        color: @colorRecepcion;
                    }
                }
            }
            
        }
        
        &.entrega{ // SI ES ENTREGA ENTRA POR AQUÍ---------
            height: 25px;
            &.sinCoche{
                .fc-title{
                    display: none;
                }
                .fc-content{
                    height: 25px;
                    background-color: lighten(@colorPrincipal,20%);
                    .fuenteIconos();
                    &:after{ //icono sin coche
                        content: "\e603";
                        display: block;
                        position: relative;
                        font-size: 1.4em !important;
                        left: 0px;
                        top: -12px;
                    }
                    &:before{//icono entrega
                        content: "\e609";
                        display: block;
                        position: relative;
                        top: -4px;
                        left: 2px;
                        color: @colorEntrega;
                    }
                }
            }
            
            &.conCoche{
                .fc-title{
                    display: none;
                }
                .fc-content{
                    height: 25px;
                    background-color: lighten(@colorPrincipal,20%);
                    .fuenteIconos();
                    &:after{ //icono con coche
                        content: "\e602";
                        display: block;
                        position: relative;
                        font-size: 1.4em !important;
                        left: 0px;
                        top: -12px;
                    }
                    &:before{//icono entrega
                        content: "\e609";
                        display: block;
                        position: relative;
                        top: -4px;
                        left: 2px; 
                        color: @colorEntrega;
                    }
                }
            }
            
        }
        
    }
    
}
/*--------------CAMBIOS EN EL QTIP--------------------*/

.qtip-default {
    border: 1px solid @colorSelec;
    background-color: @colorBlanco;
    color: #333;
    .qtip-content{
        padding: 0;
    }
}

